<h1>Review Form</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content%>
  <%= f.select :rating, options_for_select(Review::RATING)%>
  <%= f.submit :submit, class: "btn btn-success w-100 mt-4"%>
<% end %>


<%# , label: "rating" %>
